<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Hydrabloom Main Page</title>

</head>

<body>
    <header>
        <div class="logo-container">
            <h1>HydraBloom</h1>
            <!-- Leaf Logo -->
            <img src="{{ url_for('static', filename='images/image.jpg') }}" alt="Leaf Logo">
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <div class="main-content">
        <div class="text-content">
            <h1>The World of Decorative Plants</h1>
            <p>Take care of your houseplants, and before you know it, your home will be a botanical paradise.</p>
            <!-- <div class="buttons">
                <a href="{{ url_for('signin') }}" class="login-btn">Sign In</a>
                <a href="{{ url_for('register') }}" class="register-btn">Register</a>
                
            </div> -->
            <a href="/login">
                <button type="button" class="login-with-google-btn">
                    Sign in with Google
                </button>
            </a>
        </div>
        <div class="plant-details">
            <img src="https://png.pngtree.com/png-vector/20240207/ourmid/pngtree-indoor-plant-flowerpot-png-image_11669796.png"
                alt="Peperomia Houseplant">
            <div class="stats">
                <div class="stat">
                    <h4>Light Status</h4>
                    <p>On</p>
                </div>
                <div class="stat">
                    <h4>Temperature</h4>
                    <p>23°C</p>
                </div>
                <div class="stat">
                    <h4>Humidity</h4>
                    <p>74%</p>
                </div>
                <div class="stat">
                    <h4>Water Level</h4>
                    <p>85%</p>
                </div>
            </div>
            <h4>Peperomia Houseplant</h4>
        </div>
    </div>
</body>

</html>