<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.8.2.8.js"></script>
    <script src="static/js/main.js"></script>
</head>

<header>
    <div class="logo-container">
        <h1>HydraBloom</h1>
        <!-- Leaf Logo -->
        <img src="images/image.jpg" alt="Leaf Logo">
    </div>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="#">Plants</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Vase</a></li>
            <!-- <li>Hello {session["name"]}<a href='/logout'><button>Logout</button></a></li> -->
            <!-- user name here and log out button -->
        </ul>
    </nav>
</header>

<body onload="keepAlive(); time(); setupPubNub();">
    <p>Hello {session["name"]}</p> <a href='/logout'><button>Logout</button></a>
    <h1>Sensors</h1>
    <h3>Connection: <span id="connection_id">...</span></h3>
    <h3>Motion: <span id="connection_id">...</span></h3>
    <input type="checkbox" id="buzzer" onclick="handleClick(this);">
    <label for="buzzer">Buzzer On</label>

    <div>
        <a href="{{ url_for('addPlant') }}">add a new plant</a>
    </div>

    <h1>LED Control</h1>
    <button id="ledOnButton" class="button">Turn ON LED</button>
    <button id="ledOffButton" class="button">Turn OFF LED</button>
    <p id="status">Status: LED is OFF</p>



</body>

</html>